.container {
  height: 125vw;
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  position: relative;

  @media (max-width: 1440px) {
    max-width: 1200px;
  }

  @media (max-width: 1200px) {
    max-width: 992px;
  }

  @media (max-width: 922px) {
    max-width: 768px;
  }

  @media (max-width: 768px) {
    max-width: 576px;
  }

  @media (max-width: 576px) {
    max-width: 480px;
  }

  @media (max-width: 480px) {
    max-width: 100%;
    padding: 0 16px;
  }

  .background {
    position: absolute;
    width: 100%;
    z-index: 5;
  }

  .revaContainer {
    position: absolute;
    z-index: 10;
    padding: 80px 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      width: 90%;
    }
  }
}
