.container {
  width: 100%;
  background: url("/FooterBG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: "Sharp Sans";
  font-style: normal;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;

  .Logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

    border-top: 3px solid rgba(255, 255, 255, 0.3);
    border-bottom: 3px solid rgba(255, 255, 255, 0.3);

    img {
      height: 36px;

      @media screen and (max-width: 480px) {
        height: auto;
        width: 320px;
      }
    }
  }

  .waitlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

    .inputBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 8px;

      background: #ffcdde;
      border-radius: 28px;
      padding: 10px 20px;

      @media screen and (max-width: 480px) {
        padding: 8px 16px;
      }

      svg {
        outline-color: #31111c;
        stroke: #31111c;
      }

      input {
        background-color: transparent;
        outline: none;
        border: none;
        color: #31111c;
        padding: 2px 8px;
        font-family: "Sharp Sans";
        font-style: normal;
        font-size: 16px;

        @media screen and (max-width: 480px) {
          font-size: 12px;
        }
      }

      input::placeholder {
        font-family: "Sharp Sans";
        font-style: normal;
        color: #f6b0c8;
      }
    }

    @media screen and (max-width: 480px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .email {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    @media screen and (max-width: 480px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      border-radius: 50%;
      font-size: 24px;
      background-color: #b65a79;
    }

    @media screen and (max-width: 480px) {
      a {
        font-size: 16px;
        padding: 8px;
      }
    }
  }

  .builtThreeway {
    margin: 0px 0 40px;
    width: 15%;

    @media screen and (max-width: 992px) {
      width: 40%;
    }

    @media screen and (max-width: 480px) {
      width: 60%;
    }

    img {
      width: 100%;
    }
  }
}
