.container {
  height: auto;
  padding: 120px 0;
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;

  font-family: "Sharp Sans";
  font-style: normal;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;

  @media (max-width: 1440px) {
    max-width: 1200px;
  }

  @media (max-width: 1200px) {
    max-width: 992px;
  }

  @media (max-width: 922px) {
    max-width: 768px;
  }

  @media (max-width: 768px) {
    max-width: 576px;
  }

  @media (max-width: 576px) {
    max-width: 480px;
  }

  @media (max-width: 480px) {
    max-width: 100%;
    padding: 0 16px;
  }

  .title {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 32px;
    text-transform: uppercase;
  }

  .content {
    width: 80%;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  .productImg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 80%;
    }
  }
}

// .bg1 {
//   clip-path: polygon(100% 0, 0 100%, 100% 100%);
//   background-color: #260e17;
//   height: 60%;
//   width: 100%;
//   position: absolute;
//   bottom: 0;
//   left: 0;

//   @media screen and (max-width: 1440px) {
//     height: 50%;
//   }
// }

// .bg2 {
//   position: absolute;
//   bottom: 405px;
//   left: 50%;
//   transform: translateX(-50%);

//   @media screen and (max-width: 1440px) {
//     display: none;
//   }
// }
