@font-face {
  font-family: "Sharp Sans";
  src: url("../fonts/Sharp\ Sans/Sharp Sans.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Sharp Sans";
  src: url("../fonts/Sharp\ Sans/Sharp Sans Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sharp Sans";
  src: url("../fonts/Sharp\ Sans/Sharp Sans Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Sharp Sans";
  src: url("../fonts/Sharp\ Sans/SharpSansBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sharp Sans";
  src: url("../fonts/Sharp\ Sans/Sharp Sans Extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sharp Sans";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background-color: white;
    color: black;
  }
}
