.bgSection {
  width: 100%;
  height: auto;
  background-color: #31111c;
  background: url("/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
